/* Synge-GTK: A GTK+ interface for Synge
 * Copyright (C) 2013, 2016 Aleksa Sarai
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include <winver.h>
#include <version.h>

1 ICON "res/synge-gtk.ico"
1 VERSIONINFO
FILEVERSION		BSYNGE_VERSION
PRODUCTVERSION	BSYNGE_GTK_VERSION
FILEOS			VOS_NT
FILETYPE		VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "Comments",			"http://code.cyphar.com/synge"
      VALUE "CompanyName",		"Cyphar"
      VALUE "FileDescription",	"Synge GUI Calculator"
      VALUE "FileVersion",		SYNGE_VERSION
      VALUE "LegalCopyright",	"(C) 2013, 2016 Aleksa Sarai (GPLv3 or later)"
      VALUE "ProductName",		"Synge-GTK"
      VALUE "ProductVersion",	SYNGE_GTK_VERSION
    }
  }

  BLOCK "VarFileInfo"
  {
      VALUE "Translation", 0x0409, 0x04B0
  }
}
